body {
    background-color: #F2EFE7;
}

h2 {
    text-align: center;
    color: #006A71;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}

.container {

    display: block;
    width: fit-content;
    margin: auto;
}

.box {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 7px solid #006A71;
    background-color: #9ACBD0;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
  
}

.button {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    margin: 0px auto;
    display: block;
    margin-top: 20px;

    color: #004449;
    border: 5px solid #006A71;
    background-color: #9ACBD0;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

.display {
    display: none;
}
.box:hover{
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.O{
    background-image: url("assets/output-onlinepngtools.png");
    background-size: contain;
}

.X {
    background-image: url("assets/X.png");
    background-size: contain;
    background-position-x: center;
}

p {
    text-align: center;
    color: #006A71;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-right: 150px;
    padding-left: 150px;

}

@media (max-width: 380px) {
    .box {
        height: 90px;
        width: 90px;
    }
    p {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
    
    }
}

@media (max-width: 700px) and (min-width: 381px) {
    p {
        padding-right: 50px;
        padding-left: 50px;
    
    }
    
}
